<div class="home-container">
  <img id="logo" src="../../../assets/logo.png" alt="" />
  <div class="hero">
    <h1 class="head-one">
      <mark>&lt;<span>Hey there !</span>/&gt;</mark>
    </h1>
    <img id="hero-image" src="../../../assets/new.jpg" alt="" />
    <div id="hero-ghost"></div>
  </div>

  <div class="main">
    <div class="headings">
      <h1 class="head-two">I'm Milan</h1>
      <h1 class="head-three">a <span>Front-End Developer</span></h1>
    </div>

    <div class="content">
      <p id="one">
        My passion is to create stunning and interactive web designs integrated
        to all platforms.
      </p>
      <p id="two">
        I believe I can make an impact on your organization with my unique
        skills and passion.
      </p>
      <p id="three">
        View some of my
        <a id="to-project" routerLink="/projects"><i>Projects</i></a>
      </p>
    </div>
  </div>
</div>
