.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0px 95px 0px;
  background-color: #303030;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 16px;
  text-decoration: none;
  p {
    font-size: 24px;
    color: #ffffff;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 650px) {
  .projects-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 45px 0px 95px 40px;
  }
  .list {
    margin-right: 14px;
  }
}
