<div
  id="main-contain"
  [@routeAnimations]="
    o && o.activatedRouteData && o.activatedRouteData['animation']
  "
>
  <router-outlet #o="outlet"></router-outlet>
</div>
<nav>
  <ul>
    <li routerLink="home" routerLinkActive="active">
      <p>About</p>
    </li>
    <li routerLink="skills" routerLinkActive="active">
      <p>Skills</p>
    </li>
    <li routerLink="projects" routerLinkActive="active">
      <p>Projects</p>
    </li>
    <li routerLink="contact" routerLinkActive="active">
      <p>Contact</p>
    </li>
  </ul>
</nav>
