.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 20px 90px 40px;
  background-color: #303030;
}

.touch {
  font-size: 38px;
  text-decoration: underline;
  text-decoration-color: red;
}

.content {
  align-self: flex-start;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a {
    margin-bottom: 10px;
    color: #ffb5b5e3;
    text-decoration-color: rgb(255, 0, 0);
    font-size: 18px;
  }
}

@media only screen and (min-width: 650px) {
  .content {
    align-self: center !important;
    margin-left: -120px;
  }
}
