<div class="contact-container">
  <h1 class="touch">Get in touch with me</h1>
  <div class="content">
    
    <a href="../../../assets/milansresume.pdf" target="_blank" rel="noopener noreferrer">Get my resume</a>
    <a href="tel:+919074964661" target="_blank">+91 9074964661</a>
    <a href="tel:+919746521178" target="_blank">+91 9746521178</a>
    <a href="mailto:puthukkuddymilan@gmail.com" target="_blank">puthukkuddymilan@gmail.com</a>
    <a href="https://github.com/Xalvic" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/milan-puthukkuddy-308b191a7/" target="_blank">Linkedin</a>
    <a href="https://www.facebook.com/milan.mohan.5682/" target="_blank">facebook</a>
    <a href="https://www.instagram.com/milan_puthukkudy/" target="_blank">Instagram</a>
    
  </div>
</div>
