<div class="skills-container">
  <h1 class="first-head">Skills & Experience</h1>
  <div class="content">
    <p>
      My expertise includes <br />
      HTML, CSS / SASS, JavaScript along with some frameworks like
      <mark>Angular</mark>, <mark>React</mark> and Vue
    </p>
    <p>
      Loves to create animation using web technology and build feature full
      small to big scale web projects.
    </p>

    <h1><mark>Softwares I use.</mark></h1>
    <p>- Adobe Photoshop, XD, Illustrator</p>
    <p>- Visual Studio Code</p>
  </div>
</div>
