<div class="skills-container">
  <h1 class="first-head">Skills & Experience</h1>
  <div class="content">
    <p>
      My expertise includes 
      
      <br />
      <br />


      HTML, CSS / Sass, JavaScript 

      <br />
      <br />

      Angular, React, and Vue

      <br />
      <br />

      Node.js, Express, Moongoose ODM, MongoDB

      <br />
      <br />

      UI/UX Design

    </p>
    <br />
    <p>
      Loves to create animation using web technology and build feature full
      small to big scale web projects.
    </p>
    <br />
    <h1><mark>Softwares I use </mark></h1>
    <p>- Adobe XD</p>
    <p>- Visual Studio Code</p>

    <br />

    <a href="../../../assets/milansresume.pdf" target="_blank" rel="noopener noreferrer">Get my resume</a>
  </div>
</div>
